.textboxwidth{
    width:370px;
    font-size: 12px;
    background-color:#E8E8E8;
}

.labelstyle{
    font-weight: 15px;
    font-size: 15px; 
    }

    .buttonwidth{
        width:75px; 
        font-size: 12px;
        font-weight: bold; 
        /* margin-top: 25px; */
    }