<br/><br/>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Project:</label>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5">
            <input [(ngModel)]="projectDetail.Project_Name" required   class="textboxwidth" type="text" />           
            
                  
        </div> 
               
  </div>
  </div>
  <br/>

  
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <input type="checkbox" #StartandEndDate name="StartandEndDate" (click)="SelectDate(StartandEndDate)" value=""> <B>Set Start & End date </B>
            </div>
            
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <label class="labelstyle">Start Date:</label>
                   </div>
                   <div class="col-lg-3 col-md-3 col-sm-3">                   

                    <input id="StartDate" [disabled]="disabledControl" [(ngModel)]="projectDetail.Start_Date" value="projectDetail.Start_Date" (ngModelChange)="projectDetail.Start_Date = $event" class="textboxwidth" type="date" />
                </div>

                <div class="col-lg-1 col-md-1 col-sm-1">
                    <label class="labelstyle">&nbsp;End Date:</label>
                   </div>
                   <div class="col-lg-3 col-md-3 col-sm-3">
                    <!-- <input #EndDate class="datetextbox"  type="date" /> -->
                    <input id="EndDate" [disabled]="disabledControl" placeholder="End Date" [(ngModel)]="projectDetail.End_Date" value="projectDetail.End_Date" (ngModelChange)="projectDetail.End_Date = $event" class="textboxwidth" type="date" />
                </div>
                     
               
  </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Priority:</label>
            </div>               
            <div class="col-lg-5 col-md-5 col-sm-5"> 
                    <input [(ngModel)]="projectDetail.Priority" class="textboxwidth" type="range" name="points" min="0" max="30">              
            <!-- <input class="textboxwidth" type="range" name="points" min="0" max="30">                   -->
  </div>
</div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Manager:</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            <!-- <input  [(ngModel)] ="this.userDetail.First_Name"  class="textboxwidth" type="text" />  -->
            <!-- <label class="labelstyle">{{this.userDetail.First_Name}} {{this.userDetail.Last_Name}}</label>   -->
            <input  [(ngModel)]="this.userDetail.First_Name"  disabled='true'  class="textboxwidth" type="text" />            
          </div> 
          
          <div class="col-lg-2 col-md-2 col-sm-2">
            <button id="SearchBtn" class="buttonwidth" data-toggle="modal" data-target="#userModal" >Search</button>  
          </div>

          
  </div>
  </div>
  <br/>
  <br/>
  <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
            </div> 
  <div class="col-lg-5 col-md-5 col-sm-5">
    <button #submitBtn id="submitBtn" class="buttonwidth" (click)="onSubmit(StartandEndDate)">Add </button>&nbsp;
    <button id="clearBtn" class="buttonwidth" (click)="onClear(StartandEndDate)">Reset</button>
</div>  
</div>



<br/>
<div class="row">
        <hr style="border: 1px solid gainsboro;" />
</div>
<div class="row">
<div class="col-lg-2 col-md-2 col-sm-2">
        <label >&nbsp;&nbsp;&nbsp;&nbsp;Search:</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
                &nbsp; <input  [(ngModel)]="searchString"   class="textboxwidth" type="text" />           
      </div> 
    </div>
    <br/>
    <div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                    <label >Sort:</label>
                    </div>
    
                    <div class="col-lg-3 col-md3 col-sm-3">
                        <button  (click)="sortByDate()" >Start Date:</button>&nbsp;
                        <button (click)="sortByEnddate()" >End Date:</button>&nbsp;
                        <button (click)="sortByPriority()"  >Priority</button>&nbsp;
                        <button (click)="sortByCompleted()"  >Completed</button>&nbsp;
                        </div>
    </div>

   
  <div class="col-lg-12 col-md-12 col-sm-12">
  <ul class="list-group" *ngFor="let project of allProjectList  | filter : 'Project_Name' : searchString; let i = index">
      <!-- <li class="list-group-item d-flex justify-content-between align-items-center"> -->
        <div class="row">
            <hr style="border: 1px dotted gainsboro;" />
            
        <div class="col-lg-4 col-md-4 col-sm-4">
            Project:
          <label class="labeltextarea">{{project.Project_Name}}</label> <br/> 
            No of Tasks:
          <label class="labeltextarea">{{project.NoOfTasks==null?0:project.NoOfTasks}}</label>
          No Of Tasks Completed:
          
          <label class="labeltextarea">{{project.NoOfTasksCompleted==null?0:project.NoOfTasksCompleted}}</label><br/>

          Start Date:
          <label class="labeltextarea">{{project.Start_Date | date:'dd/MM/yyy'}}</label> 

          End Date:
          <label class="labeltextarea">{{project.End_Date | date:'dd/MM/yyy'}}</label>
          <!-- <label class="labeltextarea">{{project.NoOfTasks}}</label><br/> -->
          <!-- <label class="labeltextarea">{{project.NoOfTasksCompleted}}</label><br/> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
                Priority:
            <label class="labeltextarea">{{project.Priority}}</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
          <button #editButton class="buttonwidth"  id="editButton" (click)="editProject(project,StartandEndDate)" >Update</button> <br/><br/>
                   <button #deleteButton id="deleteButton"  (click)="deleteProject(project)">Suspend</button> 
        </div>
      </div>
      <!-- </li> -->
      
    </ul>
  </div>

  


  <!-- Button trigger modal -->
 
  <!-- user  Modal -->
  <div class="modal fade" id="userModal" #userModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Users</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="row">
                <hr style="border: 1px dotted gainsboro;" />
                <div class="col-lg-12 col-md-12">
                
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle">Search by First Name:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                        <input  [(ngModel)]="searchString"   class="textboxwidth" type="text" />           
                      </div>
                      
                </div>
            </div>
          
                      
            <br/><br/>
            <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group" *ngFor="let user of allUserList |filter : 'First_Name' : searchString; let i = index">
               
                  <div class="row">
                      <hr style="border: 1px dotted gainsboro;" />
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle"> First Name: </label>
                    <label class="labeltextarea">{{user.First_Name}}</label> <br/> 
                    <label class="labelstyle"> Last Name: </label>
                    <label class="labeltextarea">{{user.Last_Name}}</label> <br/>
                    <label class="labelstyle"> EmployeeID: </label>
                    <label class="labeltextarea">{{user.Employee_ID}}</label><br/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <button #selectButton class="buttonwidth"  id="selectButton" (click)="selectUser(user,userModal)"  data-dismiss="modal" >Select</button> <br/><br/>
                            
                  </div>
                </div>
                                
              </ul>
            </div>
          



        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

