.labelstyle{
font-weight: 10px;
font-size: 13px; 
}

.labeltextarea{
    width:170px;
    height:80px; 
    border: none;
    background-color:#E8E8E8;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height:70px;
}

.textboxwidth{
    width:370px;
    font-size: 12px;
    background-color:#E8E8E8;
}

.textboxTablewidth{
    width:200px;
    height:70px;
    border: none;
    font-weight: normal; 
    font-size: 12px; 
     
}

.searchtextbox{
    width:115px;
    font-size: 12px;
    background-color:#E8E8E8;
}

.datetextbox{
    width:115px;
    font-size: 12px;
    background-color:#E8E8E8;
}

.containerclass{
    border: 1px solid gainsboro;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.buttonwidth{
    width:75px; 
    font-size: 12px;
    font-weight: bold; 
    margin-top: 25px;
}
.gridheader{
    font-size: 12px;
    font-weight: bold; 
}