<br/><br/>
<div class="col-lg-12 col-md-12 col-sm-12 ">
<!-- <div class="row">     
        <div class="col-lg-1 col-md-1 col-sm-1">
      <label class="labelstyle">Task:</label>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
      <input #task class="textboxwidth" type="text" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" />
        </div>
     
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label class="labelstyle">Parent Task:</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
        <input #parenttask class="textboxwidth" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="text" />
          </div>
   </div>   -->
    <div class="row">     
        <div class="col-lg-1 col-md-1 col-sm-1">
      <label class="labelstyle">Project:</label>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2" >
     
       <input #Project [(ngModel)]="this.getProject.Project_Name"  disabled='true'   type="text" />    
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">            
            <button id="SearchBtn" data-toggle="modal" data-target="#projectModal" >Search</button>  
         </div>
     
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label >Sort Task By:</label>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <button (click)="sortByDate()">Start Date</button> &nbsp;
            <button (click)="sortByEnddate()" >End Date</button>&nbsp;
            <button (click)="sortByPriority()" >Priority</button>&nbsp;
            <button (click)="sortByCompleted()"  >Completed</button>
          </div>
   </div>   


   <br/> 


<!-- <div class="row">  
    <div class="col-lg-1 col-md-1 col-sm-1">
      <label class="labelstyle">Priority From:</label>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">
      <input #PriorityFrom class="searchtextbox" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)"  type="number" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
          <label class="labelstyle">Priority To:</label>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
          <input #Priorityto  class="searchtextbox" (blur)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="number" />
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
           
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
          <label class="labelstyle">Start Date:</label>
      </div>
        <div class="col-lg-1 col-md-1 col-sm-1"> 
          <input #StartDate  class="datetextbox" (change)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="date" />
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1">
          <label class="labelstyle">End Date:</label>
         </div>
         <div class="col-lg-1 col-md-1 col-sm-1">
          <input #EndDate class="datetextbox" (change)="search(task,parenttask,PriorityFrom,Priorityto,StartDate,EndDate)" type="date" />
      </div>
</div> -->
<br/>
<hr style="border: 1px dotted gainsboro;" /> 
<div *ngFor="let task of filterAllTaskItems">
<div class="row">      
    <div class="col-lg-2 col-md-2 col-sm-2">
        <label class="gridheader">Task</label><br/>
        <label class="labeltextarea">{{task.TaskName}}</label>         
        
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label class="gridheader">Parent</label><br/>         
            <label class="labeltextarea">{{task.Parent_Task}} </label> 
         </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
          <label class="gridheader">Priority</label><br/>
          <label class="textboxTablewidth">{{task.Priority}} </label> 
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">

          <label class="gridheader">Start</label><br/>
          <label class="textboxTablewidth">{{task.StartDate | date:'dd/MM/yyy'}} </label> 
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
          <label class="gridheader">End</label><br/>
          <label class="textboxTablewidth">{{task.EndDate | date:'dd/MM/yyy'}} </label> 
      </div>
      
      <div>
        <button class="buttonwidth" [disabled]="task.DisabledMode" [routerLink]="['/Addupdatetask',task.Task_ID]">Edit</button>&nbsp;
        <button class="buttonwidth" (click)="EndTask(task)">End Task</button>
      </div>
        
</div>

</div>

</div>

<div class="modal fade" id="projectModal" #projectModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="row">
                <hr style="border: 1px dotted gainsboro;" />
                <div class="col-lg-12 col-md-12">
                
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label class="labelstyle">Search by Name:</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                        <input  [(ngModel)]="searchString"   class="textboxwidth" type="text" />           
                      </div>
                      
                </div>
            </div>
          
                      
            <br/><br/>
            <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group" *ngFor="let project of allProjectList |filter : 'Project_Name' : searchString; let i = index">
               
                  <div class="row">
                      <hr style="border: 1px dotted gainsboro;" />
                  <div class="col-lg-4 col-md-4 col-sm-4">
                        <label > Project Name: </label>
                    <label >{{project.Project_Name}}</label> <br/> 
                    <label > Start Date: </label>
                    <label >{{project.Start_Date}}</label> <br/>
                    <label > End_Date: </label>
                    <label >{{project.End_Date}}</label><br/>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3">
                    <button #selectButton class="buttonwidth"  id="selectButton" (click)="selectproject(project,projectModal)" >Select</button> <br/><br/>
                            
                  </div>
                </div>
                                
              </ul>
            </div>
          



        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div> <!--End of Project-->
